<div ng-controller="mainCtrl">
    <div class="row">
    <% if !current_user.nil? %>
        <div class="s10 offset-s1 col">
		<h3>List of All Users</h3>
		<% if current_user.has_role? :admin %>
			<% @users.each do |user| %>
            <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                <li ng-repeat="u in users">
                    <div class="collapsible-header blue white-text"  ng-class="($index==1) ? 'active' : ''">
                        <%= user.id %>. <%= user.email %>
                    </div>
                    <div class="collapsible-body blue lighten-3">
                        <div class="m12 col">
                            <div class="card">
                                <div class="card-content row">
                                    <div class="s12 l3 col">
                                        <img src="{{u.user.picture.medium}}" class="align-right circle">
                                    </div>
                                    <div class="s12 l9 col">
                                        <h4><%= user.email %></h4>
                                        <label>Email: </label><%= user.email %><br>
                                        <label>Full Name: </label><%= user.first_name %> <%= user.last_name %><br>
                                        <label>Phone Number</label><%= user.phone_number %><br>
                                        <label>Living Area</label><%= user.area %><br>
                                        <label>Course level: </label><%= user.category_id %>
                                        <%= link_to('Click here to change it', edit_user_path(user)) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <% end %>
        <% else %><br><br> 
			<a class="btn">Only admin can access it.</a>
		<% end %>
	<% else %><br><br>
		<a class="btn">You must log in to access the material.</a>
	<% end %>
        </div>
    </div>
</div>
