<p id="notice"><%= notice %></p>

<% if user_signed_in? %>

		<div class="row">
			<div class="col m3">
				<div class="collection">
					<div class="collection-item"><%= @videos.first.category.name %></div>
					<% @videos.each do |video| %>
						<%= link_to video.title, video, :class => 'collection-item' %>
					<% end %>
				</div>
			</div>
			<div class="col m9">
				<div class="card blue-grey darken-1">
				<div class="card-image">
					<div class="embed-container">
						<%= embed(@video.link) %>
					</div>  
				</div>
					<div class="card-content white-text">
						<span class="card-title">
						<%= @video.title %>
						</span>
						<p><%= @video.description %> </p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col m3">
				<div class="collection">
					<div class="collection-item"><%= @videos1.first.category.name %></div>
					<% @videos1.each do |video| %>
						<%= link_to video.title, video, :class => 'collection-item' %>
					<% end %>
				</div>
			</div>
			<div class="col m3">
				<div class="collection">
					<div class="collection-item"><%= @videos2.first.category.name %></div>
					<% @videos2.each do |video| %>
						<%= link_to video.title, video, :class => 'collection-item' %>
					<% end %>
				</div>
			</div>
		</div>		
<% else %>
	<a class="btn" onclick="Materialize.toast('Please Sign In', 4000)">You must sign in to access the course material</a>
<% end %>

